In [5]:
import pandas as pd

In [13]:
#question 1!!!

df = pd.read_csv("movies.csv") 
df1 = pd.DataFrame(df)
df1

,Movie Name,Language,Genre,Rating,Review
0,Inception,English,Sci-Fi,8.8,Mind-bending and visually stunning.
1,Parasite,Korean,Thriller,8.6,A brilliant social satire with unexpected twists.
2,Interstellar,English,Sci-Fi,8.7,Epic space exploration with emotional depth.
3,Spirited Away,Japanese,Animation,8.6,A magical and visually breathtaking film.
4,The Dark Knight,English,Action,9.0,One of the best superhero films ever made.
5,3 Idiots,Hindi,Comedy,8.4,A heartwarming and hilarious take on education.
6,The Godfather,English,Crime,9.2,A masterpiece of storytelling and acting.
7,Pulp Fiction,English,Crime,8.9,A stylish and witty classic.
8,Coco,English,Animation,8.4,A beautiful story about family and legacy.
9,Your Name,Japanese,Romance,8.5,A breathtaking and emotional anime romance.

In [8]:
df["Rating"].max()

9.2

In [6]:
import csv


data = {
    'Title': ['3 Idiots', 'Dangal', 'PK', 'Bahubali', 'Chennai Express', 'Sultan', 'Kabir Singh', 'Tanhaji', 'War', 'Raees'],
    'Year': [2009, 2016, 2014, 2015, 2013, 2016, 2019, 2020, 2019, 2017],
    'Director': ['Rajkumar Hirani', 'Nitesh Tiwari', 'Rajkumar Hirani', 'S. S. Rajamouli', 'Rohit Shetty', 'Ali Abbas Zafar', 'Sandeep Reddy Vanga', 'Om Raut', 'Siddharth Anand', 'Rahul Dholakia'],
    'Genre': ['Comedy, Drama', 'Action, Biography, Drama', 'Comedy, Drama', 'Action, Drama', 'Action, Comedy, Drama', 'Action, Drama', 'Action, Drama, Romance', 'Action, Biography, Drama', 'Action, Thriller', 'Action, Crime, Drama'],
    'Rating': [8.4, 8.4, 8.1, 8.1, 6.1, 7.0, 7.1, 7.7, 6.5, 6.8]
}


hindi_movies_df = pd.DataFrame(data)


hindi_movies_df.to_csv('HindiMovies.csv', index=False)

hindi_movies_df

,Title,Year,Director,Genre,Rating
0,3 Idiots,2009,Rajkumar Hirani,"Comedy, Drama",8.4
1,Dangal,2016,Nitesh Tiwari,"Action, Biography, Drama",8.4
2,PK,2014,Rajkumar Hirani,"Comedy, Drama",8.1
3,Bahubali,2015,S. S. Rajamouli,"Action, Drama",8.1
4,Chennai Express,2013,Rohit Shetty,"Action, Comedy, Drama",6.1
5,Sultan,2016,Ali Abbas Zafar,"Action, Drama",7.0
6,Kabir Singh,2019,Sandeep Reddy Vanga,"Action, Drama, Romance",7.1
7,Tanhaji,2020,Om Raut,"Action, Biography, Drama",7.7
8,War,2019,Siddharth Anand,"Action, Thriller",6.5
9,Raees,2017,Rahul Dholakia,"Action, Crime, Drama",6.8

In [10]:
# question 2

df = pd.read_excel('Cereals.xls')
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
3,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
73,Wheat_Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
75,Wheaties_Honey_Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [12]:
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,14.723684,6.934211,93.657895,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,4.160444,4.473136,68.502565,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,14.500000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [18]:
for col in df.select_dtypes(include=['number']).columns: 
    mean_value = df[df[col] != -1][col].mean()  # Compute mean ignoring -1
    df[col] = df[col].apply(lambda x: mean_value if x==-1 else x)
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.000000,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.000000,25,3,1.0,0.33,59.425505
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.000000,25,3,1.0,0.50,93.704912
3,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,96.216216,25,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.000000,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21.0,3.0,60.000000,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13.0,12.0,25.000000,25,2,1.0,1.00,27.753301
73,Wheat_Chex,R,C,100,3,1,230,3.0,17.0,3.0,115.000000,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17.0,3.0,110.000000,25,1,1.0,1.00,51.592193
75,Wheaties_Honey_Gold,G,C,110,2,1,200,1.0,16.0,8.0,60.000000,25,1,1.0,0.75,36.187559

In [17]:
df.describe()   #The effectiveness of mean imputation depends on the dataset. If missing values are few and data is normally distributed, it’s acceptable. But if data is skewed or missing non-randomly, a different approach (e.g., median, regression) would be better.

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,14.933333,7.040000,96.216216,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,3.737498,4.377031,66.687384,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,7.000000,0.000000,15.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,12.000000,3.000000,43.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,14.966667,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [25]:
df1 = pd.read_excel("Cereals.xls")
for col in df1.select_dtypes(include=['number']).columns:
    median = df1[df1[col]!=1][col].median()
    df1[col]=df1[col].apply(lambda x: median if x==-1 else x )

    
df1

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,25,3,1.0,0.33,59.425505
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,25,3,1.0,0.50,93.704912
3,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,90.0,25,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.0,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21.0,3.0,60.0,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13.0,12.0,25.0,25,2,1.0,1.00,27.753301
73,Wheat_Chex,R,C,100,3,1,230,3.0,17.0,3.0,115.0,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17.0,3.0,110.0,25,1,1.0,1.00,51.592193
75,Wheaties_Honey_Gold,G,C,110,2,1,200,1.0,16.0,8.0,60.0,25,1,1.0,0.75,36.187559

In [ ]:
for col in df1.select_dtypes(include=['number']).columns:
    
    mean = df[df['col']!=-1]['col'].mean()
    df['col']=df['col'].apply(lambda x:)

In [26]:
df.describe()  #since the dataset has inconsistent values its more convenient to keep meaan as a substitute.

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,14.933333,7.040000,96.216216,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,3.737498,4.377031,66.687384,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,7.000000,0.000000,15.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,12.000000,3.000000,43.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,14.966667,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912